##**Logistics Regression**

In [ ]:
import numpy as np
import tensorflow as tf
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.datasets import load_iris
from sklearn.model_selection import train_test_split

In [ ]:
data = load_iris()

In [ ]:
data

In [ ]:
data['target']

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2])

In [ ]:
data['target_names']

array(['setosa', 'versicolor', 'virginica'], dtype='<U10')

In [ ]:
data['feature_names']

['sepal length (cm)',
 'sepal width (cm)',
 'petal length (cm)',
 'petal width (cm)']

In [ ]:
data['data']

In [ ]:
x = data['data']
y = data['target']

In [ ]:
df = pd.DataFrame(data = np.concatenate((x,y.reshape(-1,1)), axis = 1), columns = ['Sepal Length', 'Sepal Width', 'Petal Length', 'Petal Width', 'target'])

In [ ]:
df.head()

   Sepal Length  Sepal Width  Petal Length  Petal Width  target
0           5.1          3.5           1.4          0.2     0.0
1           4.9          3.0           1.4          0.2     0.0
2           4.7          3.2           1.3          0.2     0.0
3           4.6          3.1           1.5          0.2     0.0
4           5.0          3.6           1.4          0.2     0.0

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Sepal Length  150 non-null    float64
 1   Sepal Width   150 non-null    float64
 2   Petal Length  150 non-null    float64
 3   Petal Width   150 non-null    float64
 4   target        150 non-null    float64
dtypes: float64(5)
memory usage: 6.0 KB

In [ ]:
df = df.astype({'target': 'int'})

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Sepal Length  150 non-null    float64
 1   Sepal Width   150 non-null    float64
 2   Petal Length  150 non-null    float64
 3   Petal Width   150 non-null    float64
 4   target        150 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 6.0 KB

In [ ]:
#ensures that the data split is same in every iteration
X_train, X_test, y_train, y_test = train_test_split(x,y, test_size = 0.1, random_state = 42)

In [ ]:
#ensures that the data split is random and shuffled in every iteration
X_train, X_test, y_train, y_test = train_test_split(x,y, test_size = 0.1, shuffle = True)

##**Model building**

In [ ]:
#Input layer. Should be same as number of features
input = tf.keras.Input(4)
#Hidden layer
output_layer = tf.keras.layers.Dense(3, activation = tf.keras.activations.sigmoid)(input)

In [ ]:
model = tf.keras.models.Model(input,hidden_layer)

In [ ]:
#SGD -> Stochastic Gradient Descent
model.compile(optimizer = tf.keras.optimizers.SGD(learning_rate = 0.01),
              loss = tf.keras.losses.sparse_categorical_crossentropy,metrics = ['accuracy'])

##**Model Training**

In [ ]:
train = model.fit(X_train, y_train.reshape(-1), validation_data = (X_test, y_test.reshape(-1)), epochs = 300)

In [ ]:
new_data = [2.3,5.1,2.9,3.6]

In [ ]:
y_pred = model.predict([new_data])

1/1 [==============================] - 0s 40ms/step

In [ ]:
y_pred * 100

array([[16.256521 ,  1.5460685, 92.333176 ]], dtype=float32)

In [ ]:
print(f"predicted class -> {data['target_names'][np.argmax(y_pred)]} ; accuracy -> {y_pred.max()}")

predicted class -> virginica ; accuracy -> 0.9233317375183105